<div class="row">
  <% @shelters.each do |shelter| %>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <%= link_to image_tag(shelter.email, :class => 'img-responsive'), shelter, class: "thumbnail"%>

  <% end %>
</div>
