<h2>HI</h2>

<h3> To register as a User: </h3>
<li><%= link_to 'User Sign up', new_user_registration_path %></li>

<h3> To register as a Shelter: </h3>
<li><%= link_to 'Shelter Sign up', new_shelter_registration_path %></li>

