<div class="container">

    <form class="form-signin">
        <h1 class="form-signin-heading text-muted">LOG IN</h1>
<%= link_to 'ADOPTER LOG IN', new_user_session_path, :class => "btn btn-lg btn-primary btn-block" %>

<%= link_to 'SHELTER LOG IN', new_shelter_session_path, :class => "btn btn-lg btn-primary btn-block" %>
    </form>

</div>
